@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #020617;
  /* Deepest Slate/Black */
  color: #cbd5e1;
  /* Slate-300 (Low glare but readable) */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  /* Prevent horizontal scroll from shapes */
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}